.calculator {
  width: 300px;
  margin: auto;
}

.display {
  background-color: #f2f2f2;
  font-size: 1.5em;
  padding: 10px;
  text-align: right;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 1.2em;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.button.active {
  background-color: #7950f2;
  color: #fff;
}

button:active {
  background-color: #45a049;
}
