body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #ffcad4;
}
.one {
  background-color: #ff407d;
}
.two {
  background-color: #40679e;
}
.three {
  background-color: #1b3c73;
}
